.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



  .usercard{
    background-color: rgb(58, 228, 58);
    width: 300px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-family: cursive;
    color: white;
    /* font-weight: 700; */

  }

  .usercard button{
    all: unset;
    /* border: 1px solid black; */
    border-radius: 2px;
    margin:2px;
    padding:3px;
    cursor: pointer;
    background-color: white;
    color: rgb(58, 228, 58);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  }

  .usercard button:hover{
    background-color: rgb(225, 225, 225);
  }